@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body * {
    box-sizing: border-box;
}

.cad{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cad{
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cad > h1{
    font-size: 40pt;
    color: #FFFFFF;
}

.left-img-cad{
    width: 25vw;
}

.right-cad{
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cad{

    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
}

.card-cad > h1{
    display: flex;
    justify-content: center;
    color: #00ff88;
    margin-bottom: 48px;
    font-size: 40pt;
}

.line{
    margin-bottom: 32px;
}

.col1{
    margin-right: 56px;
    display: inline-block;
}

.col1 > input{
    width: 280px;
    height: 56px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}


.col2 > input{
    width: 280px;
    height: 56px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    background: #514869;
    color: #f0ffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

.col1 > input::placeholder{
    color: #f0ffff;
    text-align: center; 
}

.col2 > input::placeholder{
    color: #ffffff;
    text-align: center; 
}

.col1 > label{
    display: block;
    color: #08F185;
    font-weight: 800;
    margin-bottom: 8px;
}

.col2{
    display: inline-block;
    
}

.col2 > input{
    color: #ffffff;
    text-align: center;     
}

.col2 > label{
    display: block;
    color: #08F185;
    font-weight: 800;
    margin-bottom: 8px;
}

#combo-fundo{
    width: 280px;
    height: 56px; 
    background-color: #514869; 
    border-radius: 50px;
    display: flex; 
    justify-content: center;
}

#combo{
    border-radius: 30px;
    border: none;
    font-size: 16px;
    width: 140px;
    height: 56px;
    text-align: center;
    outline: none;
    background-color: #514869;
    color: white;
}

.btn-cad{
    margin-top: 24px;
    width: 440px;
    height: 56px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 800;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
}

.btn-cad:hover{
    opacity: 0.8;
}

#button{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

@media only screen and (max-width: 1730px){
    
    .right-cad{
        width: 55vw;
    }

    .left-cad{
        width: 35vw;
    }

}


@media only screen and (max-width: 1400px){
    
    .right-cad{
        width: 65vw;
    }

    .left-cad{
        width: 25vw;
    }

    #teste{
        font-size: 20pt;
    }

}

@media only screen and (max-width: 1080px){
    
    .right-cad{
        width: 70vw;
    }

    .left-cad{
        width: 10vw;
        opacity: 0.0;
    }
}
