@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body * {
    box-sizing: border-box;
}

.cad{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 27, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cad{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cad > h1{
    font-size: 40pt;
    color: #FFFFFF;
}

.left-img-cad{
    width: 25vw;
}

.right-cad{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-cad{
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
}

.card-cad > h1{
    color: #00ff88;
    margin-bottom: 48px;
    font-size: 40pt;
}

.textfield{
    margin-bottom: 32px;
}

.line1{
    display: inline-block;
}

.line2{
    display: inline-block;
}

.line1 > input{
    width: 220px;
    height: 56px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

.line1 > input::placeholder{
    color: #f0ffff;
    text-align: center;
    opacity: 0.3;   
}

.line2 > input{
    color: #ffffff;
    text-align: center;   
}

.line1 > input{
    display: block;
}

.line2 > input{
    display: block;
    color: #201B2C;
}

.line1 > label{
    color: #08F185;
    font-weight: 800;
    margin-bottom: 8px;
}

.line2 > label{
    color: #08F185;
    font-weight: 800;
    margin-bottom: 8px;
}

.btn-cad{
    margin-top: 24px;
    width: 440px;
    height: 56px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 800;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
}

.btn-cad:hover{
    opacity: 0.9;
}


@media only screen and (max-width: 1450px){
    
    .card-cad{
        width: 95%;
    }

}

@media only screen and (max-width: 950px){
    
    
    .cad{
        flex-direction: column;
    }

    .left-cad{
        width: 100%;
        height: auto;
    }

    .left-img-cad{
        width: 50vw;
    }

    .right-cad{
        width: 100%;
        height: auto;
    }

    .card-cad{
        width: 90%;
    }

}

@media only screen and (max-width: 600px){
    
    .card-cad{
        width: 90%;
    }

    .card-cad > h1{
        font-size: 32pt;
    }
}